.timer-body {
    height : 50vh;
    /* display: flex;     */
}

.timer-display {
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.timer-data {
    /* height : 40vh; */
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.progress-bar {
    /* height: 50vh; */
    /* width: 100px; */
    z-index: 1;
    /* background-color: blue; */
    position: absolute;
}

.timer-config {        
    align-self: flex-start;
    padding : 20px;
    display: flex;
    flex-direction: row-reverse;
}