.timer-body {
    min-height : 70vh;
    display: flex;
    flex-direction: row;    
    align-items: center;
    padding: 10px;
}

.timer-display {
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.timer-data {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.progress-bar {    
    position: absolute;
}

.timer-config {        
    justify-self: end;
    align-self: start;
    padding : 20px;
    display: flex;
    flex-direction: row-reverse;
}

.timer-card-container {    
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 80%;
    flex-wrap: wrap;
}

.timer-card {
    min-width: 35%;
    min-height: 90%;  
    margin: 10px;  
}

.card-actions {
    display: flex;
    align-items: flex-end;
    height: 80%;
}

.card-content {
    height: 55vh;
}