.timer-display {
    height : 100%;
}

.timer-data {
    height : 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-actions {
    padding : 5px;
    display: flex;
    justify-content: center;
}